<%= link_to "Back to Restaurants", restaurants_path, class: "btn btn-primary"%>
<%= link_to "Create New Review", new_restaurant_review_path(@restaurant), class: "btn btn-primary"%>

<h1><%= @restaurant.name %></h1>
<h3><%= @restaurant.category %></h3>

<p><%= @restaurant.address %></p>
<p><%= @restaurant.phone_number %></p>


<p><strong>Create New Review</strong></p>
<%= render "reviews/form" %>

<p><strong>Reviews</strong></p>
<ul class="list-group">
  <% @reviews.each do |review| %>
    <li class="list-group-item">rating: <%= review.rating %> | <%= review.content %> </li>
  <% end %>
</ul>
<br>
